/*Bootstrap styling taken out of @media for ie support*/

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

/*general element extra specs*/

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body {
  background-color: #f4f4ee;
  font-family: 'Noto Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h6 {
  color: #b2b2b2;
}

b {
  color: #808080;
}

a:focus, a:visited {
  color: #709582;
  outline: none;
}

a:hover, a:active {
  color: black;
}

.margin-shift {
  margin-left: 5%;
}

/*table specs*/

table {
  table-layout:fixed;
  width: 120px; /*must use px here for word-wrap to work*/
  font-family: 'Noto Sans', sans-serif;
  font-size: smaller;
  font-weight: bold;
  margin-left: 1em;
}

th {
  color: #b2b2b2;
}

tr {
  color: #808080;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: .5em;
  padding-bottom: .6em;
}

/*nav*/

nav {
  background-color: #edf7f3;
}

.nav-tabs {
  float: right;
}

.tab-link {
  font-size: smaller;
  font-weight: bold;
  color: #709582;
  margin-left: 2em;
}

.subtab-div {
  display: block;
  clear: both;
  background-color: #fff;
}

.subtab-list {
  list-style: none;
}

#dashboard, #sign-in {
  display: -ms-inline-flexbox;
}

.subtab-link {
  font-size: smaller;
  font-weight: bold;
  text-decoration: none !important;
  color: #b2b2b2;
  margin-left: 3.5em;
}

/*content*/

#business-overview {
  display: block;
  width: 90%;
  margin: auto;
}

/*add button specs*/

#add {
  text-align: center;
  margin-top: 2em;
}

.add-button {
  width: 5em;
  height: 5em;
  background-color: #99cc99;
  border: 2px solid #9bc58a;
}

/*stats box specs*/

.stats-box {
  background-color: #fff;
  margin: 1.5em 3em;
  width: 100%;
  border: 1px solid gainsboro;
}

.pencil {
  float: right;
  background-color: #f4f4ee;
  margin: 1em;
  border: 1px solid #eeeeea;
  border-radius: 3px;
  padding: 0;

}

.bar-graph {
  text-align: center;
}

.stats {
  background-color: #f4f4ee;
}

.ind-stats {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.more, .less {
  font-size: smaller;
  font-weight: bold;
  color: #709582;
  margin-left: 1em;
}

.additional-stats {
  display: block;
}

.add-ind-stats {
  display: inline-table;
}

.table {
  width: 120px;
}

.one-year {
  text-align: center;
  margin-bottom: .5em;
}

.sales-graph {
  height: 16em;
}

/*modal*/

.modal-header, .modal-footer{
  background-color: #edf7f3;
}

.modal-body {
  background-color: #f4f4ee;
}