/*Bootstrap styling taken out of @media for ie support*/

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
.col-md-offset-12 {
    margin-left: 100%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0;
}

/*general element extra specs*/

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body {
  background-color: #f4f4ee;
  font-family: 'Noto Sans', sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

b {
  color: #808080;
}

a:focus, a:visited {
  color: #709582;
  outline: none;
}

a:hover, a:active {
  color: black;
}

h6, th {
  color: #b2b2b2;
}

table {
  table-layout: fixed;
  font-size: smaller;
  font-weight: bold;
}

tr {
  color: #808080;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.margin-shift {
  margin-left: 5%;
}


/*nav*/

nav {
  background-color: #edf7f3;
  font-size: smaller;
  font-weight: bold;
}

.nav-tabs {
  float: right;
}

.tab-link {
  color: #709582;
  margin-left: 2em;
}

.subtab-div {
  display: block;
  clear: both;
  background-color: #fff;
}

.subtab-list {
  display: -ms-inline-flexbox;
  list-style: none;
}

.subtab-link {
  text-decoration: none !important;
  color: #b2b2b2;
  margin-left: 3.5em;
}

/*content*/

.content {
  display: block;
  width: 90%;
  margin: auto;
}

/*add button specs*/

#add {
  text-align: center;
  margin-top: 2em;
}

.add-button {
  width: 5em;
  height: 5em;
  background-color: #99cc99;
  border: 2px solid #9bc58a;
}

/*modal*/

.modal-header, .modal-footer{
  background-color: #edf7f3;
}

.modal-body {
  background-color: #f4f4ee;
}

/*stats box specs*/

.stats-box {
  background-color: #fff;
  margin: 1.5em 3em;
  width: 100%;
  border: 1px solid gainsboro;
}

.pencil {
  float: right;
  background-color: #f4f4ee;
  margin: 1em;
  border: 1px solid #eeeeea;
  border-radius: 3px;
  padding: 0;

}

.bar-graph {
  text-align: center;
}

.stats {
  background-color: #f4f4ee;
}

.ind-stats {
  display: inline-block;
  width: 30%;
  text-align: center;
}

/*additional stats drop down specs*/

.more, .less {
  font-size: smaller;
  font-weight: bold;
  color: #709582;
  margin-left: 1em;
}

.additional-stats {
  display: block;
}

.add-ind-stats {
  display: inline-table;
}

.table-side {
  width: 120px;
}

.price-sales {
  width: 120px; /*must use px here for word-wrap to work*/
  margin-left: 1em;
}

.td-ps {
  padding-top: .5em;
  padding-bottom: .6em;
}

.one-year {
  text-align: center;
  margin-bottom: .5em;
}

.sales-graph {
  height: 16em;
}

/*bottom of page table specs*/

.monthly-table {
  width: 97%;
  margin-left: 3em;
}

.month-tbl-head {
  font-size: 1.25em;
  border-bottom: 1px solid #b2b2b2;
}

.th-mo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}