body {
  background-color: #f4f4ee;
}

nav {
  background-color: #edf7f3;
}

.nav-tabs {
  background-color: #fff;
  float: right;
}

.container-fluid {
  margin-top: 1%;
}

#classes, #privates, #duets {
  background-color: #fff;
  width: 25%;
  float: right;
  margin: 1em;
  display: inline-block;
}

#add {
  display: inline-block;
  float: left;
  margin: 1em;
  text-align: center;
}

