body {
  background-color: #f4f4ee;
}

nav {
  background-color: #edf7f3;
}

.nav-tabs {
  float: right;
  background-color: #fff;
}

.container-fluid {
  margin-top: 1%;
}

#classes, #privates, #duets {
  display: inline-block;
  background-color: #fff;
  width: 25%;
  border: 1px solid gainsboro;
  margin: 1em;
}

#add {
  display: inline-block;
  float: left;
  text-align: center;
  margin: 1em;
}

.stats {
  background-color: #f4f4ee;
}

.ind-stats {
  display: inline-block;
  width:33%;
  text-align: center;
}

.pencil {
  float: right;
  background-color: #f4f4ee;
}

.bar-graph {
  text-align: center;
}

