<form id="add-program">
  <h5>Program Type</h5>
  <select class="form-control">
    <option>Count Series</option>
    <option>Time Series</option>
    <option>Membership</option>
  </select>
  <br>
  <h5>Program Name</h5>
  <input type="text" placeholder="e.g. Heated Yoga">
  <br><br>
  <h5>Online Scheduling Available</h5>
  <select class="form-control">
    <option>Yes</option>
    <option>No</option>
  </select>
  <br>
  <h5>Default Capacity</h5>
  <input type="number" min="0" placeholder="e.g. 20" >
  <br><br>
  <h5>Tabs this program is on</h5>
  <div class="checkbox">
    <label><input type="checkbox" value="">Classes</label>
    <label><input type="checkbox" value="">Appointments</label>
    <label><input type="checkbox" value="">Workshops</label>
    <label><input type="checkbox" value="">Outside</label>
    <label><input type="checkbox" value="">Inside</label>
    <label><input type="checkbox" value="">Gym</label>
  </div>
  <div class="modal-footer">
    <input type="submit" data-dismiss="modal" value="Add Program">
  </div>
</form>