<table class="monthly-table">
  <colgroup>
    <col width="12rem"/>
    <col width="12rem"/>
    <col width="70rem"/>
  </colgroup>
  <thead class="month-tbl-head">
    <tr>
      <th class="th-mo">All Programs</th>
      <th class="th-mo">Monthly Sales</th>
      <th class="th-mo">Monthly Attendance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Open Practice</td>
      <td>$572.00</td>
      <td>276 Visits</td>
    </tr>
    <tr>
      <td class="td-ps"><a class="more" href="#">More</a></td>
    <tr>
      <td>Yoga Videos</td>
      <td>$391.32</td>
      <td>82 Views</td>
    </tr>
    <tr>
      <td><a class="more" href="#">More</a></td>
    <tr>
  </tbody>
</table>