<table class="monthly-table">
  <colgroup>
    <col width="12rem"/>
    <col width="12rem"/>
    <col width="70rem"/>
  </colgroup>
  <thead class="month-tbl-head">
    <tr>
      <th class="th-mo">All Programs</th>
      <th class="th-mo">Monthly Sales</th>
      <th class="th-mo">Monthly Attendance</th>
    </tr>
  </thead>
  <tbody>
    <%@programs.each do |program| %>
      <% if program["ProgramID"] >= 103 %>
        <tr>
          <td><%= program["Name"]%></td>
          <td>$<%= program["TotalMonthlySales"]%></td>
          <td><%= program["MonthlyAttendance"]%> Visits</td>
        </tr>
        <tr>
          <td><a class="more-2" href="#" data-id="<%=program["ProgramID"]%>">More</a></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>