<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <img src="./assets/logo.png" alt="Urban Yoga">
      </a>
    </div>

    <ul class="nav nav-tabs">
      <li class="tab"><a class="tab-link" href="#">Dashboard</a></li>
      <li class="tab"><a class="tab-link" href="#">Sign In</a></li>
      <li class="tab"><a class="tab-link" href="#">Classes</a></li>
      <li class="tab"><a class="tab-link" href="#">Workshops</a></li>
      <li class="tab"><a class="tab-link" href="#">Appointments</a></li>
      <li class="tab"><a class="tab-link" href="#">Client Home</a></li>
      <li class="tab"><a class="tab-link" href="#">Retail</a></li>
    </ul>

    <div class="subtab-div hidden">
      <ul class="subtab-list hidden" id="dashboard">
        <li class="subtab"><a class="subtab-link" href="#">Dashboard</a></li>
        <li class="subtab"><a class="subtab-link" href="#">Business Overview</a></li>
        <li class="subtab"><a class="subtab-link" href="#">Schedule</a></li>
        <li class="subtab"><a class="subtab-link" href="#">Reports</a></li>
      </ul>


      <ul class="subtab-list" id="sign-in">
        <li class="subtab"><a class="subtab-link" href="#">Sign In</a></li>
      </ul>
      <!-- Additional subtabs would continue here -->
    </div>
  </div>
</nav>