<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <img src="./assets/logo.png" alt="Urban Yoga">
      </a>
    </div>

    <ul class="nav nav-tabs">
      <li class="tab"><a class="tab-link" href="javascript: return false;">Dashboard</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Sign In</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Classes</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Workshops</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Appointments</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Client Home</a></li>
      <li class="tab"><a class="tab-link" href="javascript: return false;">Retail</a></li>
    </ul>

    <div class="subtab-div hidden">
      <ul class="subtab-list hidden" id="dashboard">
        <li class="subtab"><a class="subtab-link" href="javascript: return false;">Dashboard</a></li>
        <li class="subtab"><a class="subtab-link" href="javascript: return false;">Business Overview</a></li>
        <li class="subtab"><a class="subtab-link" href="javascript: return false;">Schedule</a></li>
        <li class="subtab"><a class="subtab-link" href="javascript: return false;">Reports</a></li>
      </ul>


      <ul class="subtab-list" id="sign-in">
        <li class="subtab"><a class="subtab-link" href="javascript: return false;">Sign In</a></li>
      </ul>
      <!-- Additional subtabs would continue here -->
    </div>
  </div>
</nav>