<table class="price-sales">
  <colgroup>
    <col width="7rem" />
    <col width="3rem" />
  </colgroup>
  <thead>
    <tr>
      <th>Price Name</th>
      <th>Current</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="td-ps">Monthly Unlimited</td>
      <td class="td-ps">$4,260</td>
    </tr>
    <tr>
      <td class="td-ps">Student 1 Month</td>
      <td class="td-ps">$1,750</td>
    </tr>
    <tr>
      <td class="td-ps">Single Visit</td>
      <td class="td-ps">$560</td>
    </tr>
    <tr>
      <td class="td-ps">10 Class Pass</td>
      <td class="td-ps">$475</td>
    </tr>
    <tr>
      <td class="td-ps">Student Single</td>
      <td class="td-ps">$445</td>
    </tr>
    <tr>
      <td class="td-ps">20 Class Pass</td>
      <td class="td-ps">$230</td>
    </tr>
    <tr>
      <td class="td-ps">5 Class Pass</td>
      <td class="td-ps">$520</td>
    </tr>
  </tbody>
</table>